*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: 'Nunito', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: repeating-linear-gradient(45deg, var(--t) 0, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 0), repeating-linear-gradient(-45deg, var(--t) 0, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 0), linear-gradient(to bottom left, #FC354C, #0ABFBC);
    margin: 0;
    --c: rgba(255,255,255,0.7);
    --t: transparent;
}
.stopwatch{
	margin: auto;
	background-color: #3d3d3d45;
	width: 480px;
	margin-top: 255px;
    text-align: center;
    margin-bottom: 300px;
	box-shadow: 0px 0px  50px 20px #303030;

}
#output{
	font-size: 62px;
	color: #000;
	font-weight: lighter;
	padding: 80px 0px 60px 0px;
	text-shadow: 2px 2px 50px 20px #303030;
}
.controls{
	padding: 0px 0px 30px 0px;
	margin: 20px 0px;
}
button{
	color: #000;
	background-color: transparent;
	border: 0px;
	font-weight: lighter;
	padding: 20px;
	margin: 0px 10px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
}
#start{
	background-color: #f55;
	text-align: center;
	box-shadow: 5px 5px 50px #303030;
    transition: all 0.2s ease-in-out;
    font-size: x-large;
}
#start:hover{
	background-color: #ff6161;

}
.fa, .fas {
    padding: 2px 13px;
    font-size: x-large;
}